# Public portfolio links
VITE_PUBLIC_GITHUB_URL=
VITE_PUBLIC_LINKEDIN_URL=
VITE_PUBLIC_EMAIL=
VITE_PUBLIC_WHATSAPP_URL=
VITE_PUBLIC_CV_ES_PATH=/cv/CV_Carlos_Andres_Villamil_Yusunguaira_ES.pdf
VITE_PUBLIC_CV_EN_PATH=/cv/CV_Carlos_Andres_Villamil_Yusunguaira_EN.pdf
